// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

// body {
//   width: 100%;
//   height: 100vh;
//   display: flex;
//   position: relative;
//   background: #eeeeec;
//   align-items: center;
//   flex-direction: column;
//   justify-content: center;
  
//   font-family: 'Open Sans', sans-serif;
//   font-size: 100%;
// }

// ------------------------------------------------

$purple-gradient: linear-gradient(45deg, rgba(87,29,146,1) 0%,rgb(186, 72, 131) 100%);
$purple-gradient: linear-gradient(to bottom right, #4b3a43, #331e27);
$blue1-gradient: linear-gradient(to bottom right, #343441, #313437);
$blue2-gradient: linear-gradient(to bottom right, #262531, #1c222a);
$shadow: 0 13px 26px rgba(#000, .2), 0 3px 6px rgba(#000, .2);

// ------------------------------------------------

.customSlider {
  opacity: 0;
  display: none;
  + label {
    position: relative;
    top: 35px;
    left: 15px;
    cursor: pointer;
    &:before, &:after {
      background: #FFFFFF;
      position: absolute;
      content: '';
    }
    &:before {
      top: -90px; left: -60px;
      width: 80px;
      height: 40px;
      background: #ccc;
      border-radius: 20px;
      transition: background .75s;
    }
    &:after {
      height: 34px; width: 34px;
      top: -87px; left: -55px;
      border-radius: 50%;
      transition: all .5s;
    }
  }
  
  &:checked + label:after {
    height: 34px; width: 34px;
    top: -87px; left: -19px;
    border-radius: 50%;
  }
  
  &:checked ~ .wrapper {
    color: #fff;
    transition: background .6s ease;
    background: #31394D;
    
    .top-icons {
      i {
        color: #fff;
      }
    }
    
    .profile {
      // &:after {background: #ececece;}
      .name {
        color: #FDFEFF;
      }
      
      .title {
        color: #7C8097;
      } 
      
      .description {
        color: #FDFEFF;
      }
    }
    .icon {
      h4 {
        color: #FFFFFF;
      }
      
      p {
        color: #666B7D;
      }
    }
  }
}

.wrapper {
  width: 1400px;
  height: 800px;
  background: #fbf6e621;
  transition: background .6s ease;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  box-shadow: 0 8px 40px rgba(#000000, .2);
margin-left: 13%; 

 .top-icons {
    i {
      color: #080911;
      &:nth-of-type(1) {
        float: left;
      }
      &:nth-of-type(2) {
        float: right;
      }
      &:nth-of-type(3) {
        float: right;
        padding-right: .8em;
      }
    }
  }
  .profile {
    margin-top: 2.2em;
    position: relative;
    
    &:after {
      width: 100%;
      height: 1px;
      content: ' ';
      display: block;
      margin-top: 1.3em;
      background: #E9EFF6;
    }
    
    .check {
      position: absolute;
      right: 5em;
      bottom: 12.7em;
      i {
        color: #fff;
        width: 20px;
        height: 20px;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        border-radius: 100%;
        background: $purple-gradient; 
      }
    }
    .thumbnail {
      width:200px;

      display: flex;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1.5em;
      border-radius: 100%;
      box-shadow: $shadow;
    }
    .name {
      color: #2D354A;
      font-size: 24px;
      font-weight: 600;
      text-align: center;
    }
    
    .title {
      color: #7C8097;
      font-size: .75em;
      font-weight: 300;
      text-align: center;
      padding-top: .5em;
      padding-bottom: .7em;
      letter-spacing: 1.5px;
      text-transform: uppercase;
    }
    
    .description {
      color: #080911;
      font-size: 14px;
      font-weight: 300;
      text-align: center;
      margin-bottom: 1.3em;
    }
    
    .btn {
      margin-left: 570px;
      margin-top: 40px;
      background-image: linear-gradient(to right, #314a68, #467db7, #30688d, #4e4376);
      box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
      text-align: center;
      width: 200px;
      font-size: 16px;
      font-weight: 600;
      color: #fff;
      cursor: pointer;
      height: 55px;
      text-align:center;
      border: none;
      background-size: 300% 100%;
  
      border-radius: 50px;
      -o-transition: all .4s ease-in-out;
      -webkit-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
    }
    .btn:hover:focus{
      background-position: 100% 0;
      -o-transition: all .4s ease-in-out;
      -webkit-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
    }
    .btn:hover:focus{
      outline: none;
    }
  }
  
  .social-icons {
    display: flex;
    margin-top: 1.2em;
    font-size: 25px;
    padding-left: 250px;
    padding-top: 50px;
  
  }
}


// emoji
$black: #2a2927;
$white: #fff;
$bg: #2EB5E0;
$face:#C4DBE0;
$face-shadow: #b7dce4;
$main-width: 6.25rem;
$main-height: 6.25rem;

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}





#container {
  width: $main-width;
  height: $main-height;
  margin-top: 100px;
  margin-left: 600px;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  &.face-button {
    width: $main-width;
    height: $main-height;
    border-radius: 50%;
    background: $face;
    box-shadow: inset 2px -4px 18px $face-shadow;
  }
}

.face-container {
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  margin: auto;
}

.eye {
  position: absolute;
  height: 0.5rem;
  width: 0.5rem;
  background: $black;
  border-radius: 50%;
  animation: eyeBlink 3200ms linear infinite;
  &.left {
    left: 0;
  }
  &.right {
    left: 2rem;
  }
}

.mouth {
  position: absolute;
  top: 1.125rem;
  left: 0.8rem;
  width: 1rem;
  height: 0.125rem;
  background: $black;
  border-radius: 0;
}

.eye, .mouth {
  box-shadow: inset 1px 2px 4px #121110;
}

.face-button:hover .mouth,
.face-button:active .mouth {
  left: 1rem;
  width: 0.5rem;
  height: 0.4rem;
  border-radius: 1rem 1rem 0.125rem 0.125rem;
}

.face-button:hover .eye,
.face-button:active .eye {
  height: 0.375rem;
  width: 0.375rem;
  box-shadow: 0 0 0 0.25rem $white;
}

@keyframes eyeBlink {
  0%, 30%, 36%, 100% {
    transform: scale(1);
  }
  32%, 34% {
    transform: scale(1,0);
  }
}