.images{
    width: 200px;
    height: 70px;
}
 
.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    margin-top: 10px;
  }
  .btn-16 {
    margin-left: 20px;
    border: none;
    color: #000;
    
  }
  .btn-16:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
  }
  .btn-16:hover {
    color: #000;
  }
  .btn-16:hover:after {
    left: auto;
    right: 0;
    width: 100%;
  }
  .btn-16:active {
    top: 2px;
  }
.workoutsname{
  color:blue;
}
.workoutsdescription{
  font-family: 'Times New Roman', Times, serif;
}
.workouts{
  background-image: "https://www.picktime.com/webassets/2021/img/industries/gyms-min.png";
}
.workoutcard{
background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display:flex;
  flex-direction: column;
  width: 350px;
  height: 350px;
  overflow: hidden;
  margin-left: 70px;
}
.workoutimage{
  float: left;
  height: 500px;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  filter: saturate(180%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);;
}
.oneworkoutcard{
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display:flex;
  flex-direction: column;
  width: 800px;
  height: 800px;
  overflow: hidden;
  margin-left: 400px;
}
.oneworkoutimage{
  float: left;
  height: 500px;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  filter: saturate(180%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);;
}
.workoutimage:hover {
  
  filter: contrast(100%);

}
.oneworkoutimage:hover{
  filter: contrast(100%);
}

.but{
  margin-top: 10px;
}
.Popup{
  margin-left: 500px;
  position: absolute;
  margin-top: 500px;
  width: 50%;
  height: 50%;
  align-content: center;
  background: url("https://img.freepik.com/photos-premium/interieur-salle-sport-equipements_23-2147949749.jpg?w=996");
background-repeat: no-repeat;
background-size: cover;

}
.paymentform{
 margin: auto;
}
.input{
  box-sizing: border-box;
  font-family: inherit;
  font-size: 14px;
  vertical-align: baseline;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: .16px;
  border-radius: 0;
  outline: 2px solid transparent;
  outline-offset: -2px;
  width: 30%;
  height: 40px;
  border: none;
  border-bottom: 1px solid #8d8d8d;
  background-color: #f4f4f4;
  padding: 0 16px;
  color: #161616;
  transition: background-color 70ms cubic-bezier(.2,0,.38,.9),outline 70ms cubic-bezier(.2,0,.38,.9);
  margin-left: 30%;
  margin-top: 20px;
}


  
:focus{
    outline: 2px solid #0f62fe;
    outline-offset: -2px;
}
.formbutton{
  
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: #4299e1;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  border-bottom: 4px solid #2b6cb0;
  font-weight: 700;
  color: white;
  line-height: 26px;
margin-top: 30px;
margin-left: 30%;
}
